*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.vidya_{
   color: #fff;
   padding-left: 40px;
}
#navbarNavDropdown{
    margin-left: 290px;
}
.navbar_{
    background-color:  rgb(95, 11, 53);
    height: 80px;
}
.container_fluid{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
 
}
.container_fluid ul li{
margin-left: 10px;
}
.nav-item a{
    color: #fff;
}
 .navbar-nav .nav-link.active{
    color: #fff !important;
 }
 .nav-item .dropdown-menu{
    background-color:  rgb(95, 11, 53);
 }
img{
height: 530px;
 }
 marquee{
padding-top: 30px;
font-size: 30px;
font-weight: 600;
color: rgb(95, 11, 53);
padding-bottom: 20px;
 }
 .footer{
    height: 530px;
    background-color: rgb(95, 11, 53);
    color: #fff;
    
 }
 .footer_items{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 75px;
 }
 .footer_items p{
    font-size: 20px;
 }
 .footer_items h3{
    padding-top: 30px;
    padding-bottom: 20px;
 }
 .footer_items h4{
    padding-top: 120px;
    padding-bottom: 30px;
 }
 .footer_items .vishal_{
    padding-bottom: 20px;
 }
 .black-height{
   margin-top: 70px;
   height: 340px;
   width: 100%;
   background-color: rgb(95, 11, 53);    
}
.black{
   color: #fff;
   max-width: 650px;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   margin-left: 100px;
   line-height: 10px;
}
.black h1{
   margin-top: 50px;
   margin-bottom: 40px;
   font-size: 25px;
}
.black h3{
   font-size: 15px;
}
.black h3:hover{
   text-decoration: underline;
}
.home_section{
   color: #fff;
   background-color: rgb(95, 11, 53);
   margin-top: 70px;
   height: 220px;
   padding-top: 40px;

}
 .home_{
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }
 .Copyright{
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
text-align: center;
color: #fff;
padding-top: 20px;
 }